<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="forecasts">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.date }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table>

<!-- property binding -->
<div [contentEditable]="isEditable" [style]="style" > {{message}}</div>

<!-- event handling -->
<button (click)="greet()" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">Greet</button>

<!-- input properties sending data to child component -->
<app-user occupation="Angular Developer"></app-user>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>
